<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head-admin"></head>
<body>
<div class="container">
    <h1><a href="/" data-i18n="admin:home">UK iXBRL Viewer</a></h1>
    <h3 data-i18n="admin:database.unprocessed">Unprocessed Filings</h3>
    <table>
        <tr>
            <th data-i18n="admin:database.filings">Filings (<span th:text="(${unprocessedFilings.size()})"></span>)</th>
            <th data-i18n="admin:database.discovered">Discovered</th>
            <th data-i18n="admin:database.status">Status</th>
            <th data-i18n="admin:database.registry">Registry</th>
            <th data-i18n="admin:database.companyName">Company Name</th>
            <th data-i18n="admin:database.download">Download</th>
        </tr>
        <th:block th:each="filing : ${unprocessedFilings}">
            <tr>
                <td th:text="${filing.getFilingId()}">...</td>
                <td th:text="${filing.getDiscoveredDate()}">...</td>
                <td th:text="${filing.getStatus()}">...</td>
                <td th:text="${filing.getRegistryCode()}">...</td>
                <td th:text="${filing.getCompanyName()}">...</td>
                <td th:text="${filing.getDownloadUrl()}">...</td>
            </tr>
        </th:block>
    </table>
    <h3 data-i18n="admin:database.failed">Failed Filings</h3>
    <table>
        <tr>
            <th data-i18n="admin:database.filings">Filings (<span th:text="(${failedFilings.size()})"></span>)</th>
            <th data-i18n="admin:database.discovered">Discovered</th>
            <th data-i18n="admin:database.registry">Registry</th>
            <th data-i18n="admin:database.companyName">Company Name</th>
            <th data-i18n="admin:database.download">Download</th>
        </tr>
        <th:block th:each="filing : ${failedFilings}">
            <tr>
                <td th:text="${filing.getFilingId()}">...</td>
                <td th:text="${filing.getDiscoveredDate()}">...</td>
                <td th:text="${filing.getRegistryCode()}">...</td>
                <td th:text="${filing.getCompanyName()}">...</td>
                <td th:text="${filing.getDownloadUrl()}">...</td>
            </tr>
        </th:block>
    </table>
    <h3 data-i18n="admin:database.completed">Completed Filings</h3>
    <table>
        <tr>
            <th data-i18n="admin:database.filings">Filings (<span th:text="(${completedFilings.size()})"></span>)</th>
            <th data-i18n="admin:database.discovered">Discovered</th>
            <th data-i18n="admin:database.registry">Registry</th>
            <th data-i18n="admin:database.companyName">Company Name</th>
            <th data-i18n="admin:database.stubViewer">Stub Viewer</th>
        </tr>
        <th:block th:each="filing : ${completedFilings}">
            <tr>
                <td th:text="${filing.getFilingId()}">...</td>
                <td th:text="${filing.getDiscoveredDate()}">...</td>
                <td th:text="${filing.getRegistryCode()}">...</td>
                <td th:text="${filing.getCompanyName()}">...</td>
                <td th:text="${filing.getStubViewerUrl()}">...</td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
