<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head-admin"></head>
<body>
<div class="container">
    <h1><a href="/" data-i18n="admin:home">UK iXBRL Viewer</a></h1>
    <h3 data-i18n="admin:fca.header">FCA Filings Since <span th:text="(${sinceDate})"></span></h3>
    <table>
        <tr>
            <th data-i18n="admin:fca.filings">Filings (<span th:text="(${filings.size()})"></span>)</th>
            <th data-i18n="admin:fca.sequence">Sequence</th>
            <th data-i18n="admin:fca.submitted">Submitted</th>
            <th></th>
            <th></th>
        </tr>
        <th:block th:each="filing : ${filings}">
            <tr>
                <td th:text="${filing.filename()}">...</td>
                <td th:text="${filing.sequenceId()}">...</td>
                <td th:text="${filing.submittedDate()}">...</td>
                <td><a th:href="${filing.infoUrl()}" data-i18n="admin:fca.info">Info</a></td>
                <td><a th:href="${filing.downloadUrl()}" data-i18n="admin:fca.download">Download</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
