<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head-admin"></head>
<body>
<div class="container">
    <h1><a href="/" data-i18n="admin:home">UK iXBRL Viewer</a></h1>
    <table>
        <tr>
            <th i18n-data="admin:coho.company.header">Company</th>
            <td th:text="${company}"></td>
        </tr>
        <tr>
            <th i18n-data="admin:coho.company.filingUrls">Filing URLs</th>
            <td><pre th:text="${filingUrls}"></pre></td>
        </tr>
    </table>
</div>
</body>
</html>
