<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head th:replace="fragments :: head-main (_)"></head>
<body class="govuk-template__body">
<script th:replace="fragments :: script-govuk-frontend-supported"></script>
<a th:replace="fragments :: link-skip-to-main"></a>
<header th:replace="fragments :: header"></header>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l" data-i18n="error:sorry">Sorry, there is a problem with the service</h1>
                <p class="govuk-body" data-i18n="error:tryAgain">Try again later.</p>
                <p class="govuk-body">
                    <a class="govuk-footer__link" href="/help" data-i18n="error:contactUs">
                        Contact Us
                    </a>
                </p>
            </div>
        </div>
    </main>
</div>
<footer th:replace="fragments :: footer-main"></footer>
<script th:replace="fragments :: script-govuk-frontend"></script>
</body>

</html>
