<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head th:replace="fragments :: head-main (_)"></head>
<body class="govuk-template__body">
<script th:replace="fragments :: script-govuk-frontend-supported"></script>
<a th:replace="fragments :: link-skip-to-main"></a>
<header th:replace="fragments :: header"></header>
<div class="govuk-width-container">
    <div th:replace="fragments :: banner-beta"></div>
    <main class="govuk-main-wrapper">
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text" data-i18n="index:whatXbrlSummary">
                    What is iXBRL?
                </span>
            </summary>
            <div class="govuk-details__text" data-i18n="index:whatXbrlDetails">
            iXBRL is an extension of XBRL (eXtensible Business Reporting Language), the international
            standard for sharing business information electronically. In the UK, iXBRL is used to tag
            accounts and other business information in annual reports and submit them as inline XBRL (iXBRL)
            reports to the UK Business Register: Companies House; Securities Regulator: Financial Conduct Authority;
            Tax Authority: HM Revenue & Customs, Charities Regulator: Charity Commission for England and Wales.
            With UK iXBRL Viewer, you can access machine-readable structured data (XBRL facts) from tagged iXBRL
            reports available in the Companies House Registry and the National Storage Mechanism.
            For more information on the UK iXBRL Viewer, please see the <a href="/FRC_Codex_User_Guide.pdf">User Guide</a>.
            </div>
        </details>
        <h1 class="govuk-heading-l" id="main-content">Search Filings</h1>
        <form action="#" th:action="@{/}" th:object="${searchFilingsRequest}" method="get">
            <div class="govuk-form-group">
                <label class="govuk-label" for="company-name-or-number" data-i18n="index:searchByNameOrNumber">
                    Search by Company Name or Number
                </label>
                <input class="govuk-input"
                       id="company-name-or-number"
                       placeholder="Company Name, CRN (Company Registration Number), or LEI (Legal Entity Identifier)"
                       data-i18n-placeholder="index:searchPlaceholder"
                       type="text"
                       required
                       th:field="*{searchText}">
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group" th:classappend="${minFilingDateError != null} ? govuk-form-group--error : govuk-form-group--valid">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="min-filing-date-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__legend" data-i18n="index:dateFiled.header">
                                    Date Filed
                                </h1>
                            </legend>
                            <div id="min-filing-date-hint" class="govuk-hint" data-i18n="index:dateFiled.from">
                                From
                            </div>
                            <p th:if="${minFilingDateError != null}" id="min-filing-date-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden" data-i18n="index:dateFiled.error">Error:</span><span th:text="${minFilingDateError}"></span>
                            </p>
                            <div class="govuk-date-input" id="min-filing-date">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="min-filing-date-year" data-i18n="index:dateFiled.year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="min-filing-date-year" th:field="*{minFilingDateYear}" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="min-filing-date-month" data-i18n="index:dateFiled.month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="min-filing-date-month" th:field="*{minFilingDateMonth}" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="min-filing-date-day" data-i18n="index:dateFiled.day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="min-filing-date-day" th:field="*{minFilingDateDay}" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group" th:classappend="${maxFilingDateError != null} ? govuk-form-group--error : govuk-form-group--valid">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="max-filing-date-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__legend">
                                    <span class="govuk-visually-hidden" data-i18n="index:dateFiled.header">Date Filed</span>&nbsp;
                                </h1>
                            </legend>
                            <div id="max-filing-date-hint" class="govuk-hint" data-i18n="index:dateFiled.to">
                                To
                            </div>
                            <p th:if="${maxFilingDateError != null}" id="max-filing-date-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden" data-i18n="index:dateFiled.error">Error:</span><span th:text="${maxFilingDateError}"></span>
                            </p>
                            <div class="govuk-date-input" id="max-filing-date">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="max-filing-date-year" data-i18n="index:dateFiled.year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="max-filing-date-year" th:field="*{maxFilingDateYear}" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="max-filing-date-month" data-i18n="index:dateFiled.month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="max-filing-date-month" th:field="*{maxFilingDateMonth}" type="text" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="max-filing-date-day" data-i18n="index:dateFiled.day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="max-filing-date-day" th:field="*{maxFilingDateDay}" type="text" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-form-group">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="registryCode" data-i18n="index:registry.header">
                                Registry
                            </label>
                            <div id="registryCode-hint" class="govuk-hint">
                            </div>
                            <select class="govuk-select" id="registryCode" th:field="*{registryCode}" aria-describedby="registryCode-hint">
                                <option value="" selected data-i18n="index:registry.any">Any</option>
                                <option th:each="registry:${T(com.frc.codex.model.RegistryCode).values()}"
                                        th:value="${registry.getCode()}"
                                        th:text="${registry.getFullName()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-button-group" style="justify-content: flex-end;">
                <button type="submit" class="govuk-button govuk-button--start" data-module="govuk-button" data-prevent-double-click="true" data-i18n="index:searchButton">
                    Search
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </button>
            </div>
        </form>
        <p th:if="${message != null}" class="govuk-body">
            <i th:text="${message}"></i>
        </p>
        <div th:if="${filings != null && filings.size() > 0}" class="search-result">
            <h3 class="govuk-heading-m" data-i18n="index:results.header">Results</h3>
            <div th:each="filing, iter : ${filings}" th:id="|result-${iter.index}|">
                <hr/>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h3 class="govuk-heading-m" style="display:inline" th:text="${filing.companyName}"></h3>

                        <div style="display:flex;flex-wrap: wrap;justify-content: space-between;">
                            <dl style="flex-basis: 40%;">
                                <dt th:switch="${filing.registryCode}" style="text-align: left">
                                    <span th:each="registryCode:${T(com.frc.codex.model.RegistryCode).values()}"
                                          th:case="${registryCode.code}"
                                          th:text="${registryCode.companyFileReference} + ': '" ></span>
                                    <span th:case="*" data-i18n="index:results.companyNo">Company No.</span>
                                </dt>
                                <dd th:text="${filing.getCompanyNumber()}"></dd>
                            </dl>
                            <dl style="flex-basis: 25%;">
                                <dt data-i18n="index:results.registry">Registry: </dt>
                                <dd th:switch="${filing.registryCode}">
                                    <span th:each="registryCode:${T(com.frc.codex.model.RegistryCode).values()}"
                                          th:case="${registryCode.code}"
                                          th:text="${registryCode.shortName}"></span>
                                </dd>
                            </dl>
                            <dl style="flex-basis: 20%;">
                                <dt data-i18n="index:results.documentDate">Document Date: </dt>
                                <dd th:text="${filing.displayDocumentDate()}"></dd>
                            </dl>
                            <dl style="flex-basis: 15%;">
                                <dt data-i18n="index:results.dateFiled">Date Filed: </dt>
                                <dd th:text="${filing.displayFilingDate()}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-third" style="text-align: right;">
                        <div class="govuk-button-group" style="justify-content: flex-end;margin-bottom: 0;">
                            <a th:href="${filing.getViewerLink()}" role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-i18n="index:results.downloads.openViewer">
                                Open Viewer
                            </a>
                        </div>
                        <div>
                            <img src="/icons/download.svg" alt="Download icon" height="16" width="16">
                            <b data-i18n="index:results.downloads.header">Downloads:</b>
                        </div>
                        <span th:if="${!(filing.isCompleted() && filing.getOimDirectory() == null)}">
                            <span class="download-link">
                                <a th:href="${filing.getXbrlCsvUrl()}" class="govuk-link govuk-link--no-underline" data-i18n="index:results.downloads.csv.header">
                                    xBRL-CSV
                                </a>
                                <img src="/icons/info.svg" alt="Download icon" height="16" width="16">
                                <span class="download-tooltip" data-i18n="index:results.downloads.csv.description">
                                    XBRL facts as CSV files in a zip report package.<br/>
                                    <a target="_blank" href="https://www.xbrl.org/guidance/xbrl-glossary/#xbrl-csv-report" data-i18n="index:results.downloads.learnMore">Learn more.</a>
                                </span>
                            </span>
                            |
                            <span class="download-link">
                                <a th:href="${filing.getXbrlJsonUrl()}" class="govuk-link govuk-link--no-underline" data-i18n="index:results.downloads.json.header">
                                    xBRL-JSON
                                </a>
                                <img src="/icons/info.svg" alt="Download icon" height="16" width="16">
                                <span class="download-tooltip" data-i18n="index:results.downloads.json.description">
                                    XBRL facts as JSON files in a zip report package.<br/>
                                    <a target="_blank" href="https://www.xbrl.org/guidance/xbrl-glossary/#xbrl-json-report" data-i18n="index:results.downloads.learnMore">Learn more.</a>
                                </span>
                            </span>
                            |
                        </span>
                        <span class="download-link">
                            <a th:href="${filing.getDownloadUrl()}" class="govuk-link govuk-link--no-underline" data-i18n="index:results.downloads.ixbrl.header">
                                Filing
                            </a>
                            <img src="/icons/info.svg" alt="Download icon" height="16" width="16">
                            <span class="download-tooltip" data-i18n="index:results.downloads.ixbrl.description">
                                The original inline XBRL filing.<br/>
                                <a target="_blank" href="https://www.xbrl.org/guidance/xbrl-glossary/#ixbrl-report" data-i18n="index:results.downloads.learnMore">Learn more.</a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <p th:if="${moreResultsLink != null}" class="govuk-body" style="text-align: center; padding:1em;">
                <a th:href="${moreResultsLink}" data-i18n="index:loadMore">Load more filings</a>
            </p>
            <p th:if="${maximumResultsReturned}" class="govuk-body" style="text-align: center" data-i18n="index:maxResults">
                Maximum number of results returned. Please refine your search.
            </p>
        </div>
    </main>
</div>
<footer th:replace="fragments :: footer-main"></footer>
<script th:replace="fragments :: script-govuk-frontend"></script>
<script>
    sessionStorage.removeItem('ixbrl-viewer-home-link-query');
    let query = window.location.search;
    if (query && query.length > 0) {
        if (query[0] === '?') {
            query = query.substring(1);
        }
        sessionStorage.setItem('ixbrl-viewer-home-link-query', query);
    }
</script>
</body>

</html>
