<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head th:replace="fragments :: head-main (~{ :: title})">
    <title data-i18n="survey:title">Survey - UK iXBRL Viewer</title>
</head>
<body class="govuk-template__body">
<script th:replace="fragments :: script-govuk-frontend-supported"></script>
<a th:replace="fragments :: link-skip-to-main"></a>
<header th:replace="fragments :: header"></header>
<div class="govuk-width-container">
    <div th:replace="fragments :: banner-beta"></div>
    <main class="govuk-main-wrapper">
        <h1 class="govuk-heading-l" id="main-content" data-i18n="survey:header">Customer Satisfaction Survey</h1>
        <div id="success-banner" class="govuk-notification-banner govuk-notification-banner--success"
             role="alert" aria-labelledby="govuk-notification-banner-title"
             data-module="govuk-notification-banner" hidden>
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" data-i18n="survey:success">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading" data-i18n="survey:thankYou">
                    Thank you! We've received your response.
                </h3>
                <p th:if="${id != null}" class="govuk-body-s" data-i18n="survey:responseId">
                    Response ID: <span th:text="${id}"></span>
                </p>
            </div>
        </div>
        <div th:if="${success == false}" class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title" data-i18n="survey:unexpectedError">
                    An unexpected error occurred.
                </h2>
                <div class="govuk-error-summary__body" data-i18n="survey:tryAgainLater">
                    We were not able to process your request. Please try again later.
                </div>
            </div>
        </div>
        <form id="survey-form" th:action="@{/survey}" th:object="${surveyRequest}" method="post" hidden>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend" data-i18n="survey:searchUtility">
                        How satisfied are you with the <b>usefulness</b> of the index search tool?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item" th:each="rating, iter : ${T(com.frc.codex.model.Rating).values()}">
                            <input class="govuk-radios__input" type="radio" th:field="${surveyRequest.searchUtilityRating}" th:value="${rating.getValue()}">
                            <label class="govuk-label govuk-radios__label" th:for="'searchUtilityRating' + ${iter.index + 1}" th:text="${rating.getLabel()}"></label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend" data-i18n="survey:searchSpeed">
                        How satisfied are you with the <b>speed</b> of the index search tool?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item" th:each="rating, iter : ${T(com.frc.codex.model.Rating).values()}">
                            <input class="govuk-radios__input" type="radio" th:field="${surveyRequest.searchSpeedRating}" th:value="${rating.getValue()}">
                            <label class="govuk-label govuk-radios__label" th:for="'searchSpeedRating' + ${iter.index + 1}" th:text="${rating.getLabel()}"></label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend" data-i18n="survey:loadingSpeed">
                        How satisfied are you with the <b>loading speed</b> of the viewers?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item" th:each="rating, iter : ${T(com.frc.codex.model.Rating).values()}">
                            <input class="govuk-radios__input" type="radio" th:field="${surveyRequest.viewerSpeedRating}" th:value="${rating.getValue()}">
                            <label class="govuk-label govuk-radios__label" th:for="'viewerSpeedRating' + ${iter.index + 1}" th:text="${rating.getLabel()}"></label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-i18n="survey:sendButton">
                    Send
                </button>
            </div>
        </form>
    </main>
</div>
<footer th:replace="fragments :: footer-main"></footer>
<script th:replace="fragments :: script-govuk-frontend"></script>
<script th:if="${success == true}">
    localStorage.setItem("survey_submitted_date", new Date().toString());
</script>
<script>
    const lastSubmittedDateStr = localStorage.getItem("survey_submitted_date");
    let showForm = true;
    if (lastSubmittedDateStr != null) {
        const lastSubmittedDate = new Date(lastSubmittedDateStr);
        const threshold = new Date();
        threshold.setDate(threshold.getDate() - 1);
        if (lastSubmittedDate > threshold) {
            showForm = false;
        }
    }
    if (showForm) {
        document.getElementById("survey-form").hidden = false;
    } else {
        document.getElementById("success-banner").hidden = false;
    }
</script>
</body>
</html>
