<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head th:replace="fragments :: head-main (~{ :: title})">
    <title data-i18n="loading:title">Loading viewer...</title>
</head>
<body class="govuk-template__body">
<script th:replace="fragments :: script-govuk-frontend-supported"></script>
<a th:replace="fragments :: link-skip-to-main"></a>
<header th:replace="fragments :: header"></header>
<div class="loading-bar">
    <div>
        <img src="/icons/loading.svg" alt="Loading icon"/>
    </div>
    <div style="max-width:50%;">
        <h2 class="govuk-heading-m" style="margin:0;" data-i18n="loading:status">Loading...</h2>
        <p class="govuk-body" style="margin:0;" data-i18n="loading:pleaseWait">
            This viewer is currently being generated. Please wait a moment...
        </p>
    </div>
</div>
<iframe
        th:src="${iframeSrc}"
        style="position:absolute;width:100%;height:100%;background:white;">
</iframe>
<script>
    // Redirect to the wait page
    window.location.href = 'wait';
</script>
</body>

</html>
